<h1> vos films</h1>
<button (click)="ajouterFilm()">ajouter un film</button>
<form [formGroup]="filterForm" (ngChange)="onFilter()">
    <label for="search">Rechercher le titre du film:</label>
    <input id="search" formControlName="searchTerm" />

</form>
<ul>
    <li *ngFor="let movie of movies">
        <a [routerLink]="['/films', movie.id]">
            {{ movie.title }}
            <img [src]="movie.poster" alt="{{ movie.title }} poster" (error)="onImageError($event)" />
        </a>
    </li>
</ul>
<button (click)="loadPrecedent()">Précédent</button>
<button (click)="loadSuivant()">Suivant</button>